select {
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    font-weight: bold;
}

option {
    color: black;
    font-weight: bold;
}

.dashboard {
    width: 100%;
    height: 100%;
}

canvas{
    height: 100%;
}

.slct_comp {
    border-radius: 10px !important;
    margin-top: 8px;
    margin-bottom: 3px;
}

.data_tbl>ul {
    width: 100%;
    border-radius: 10px;
    list-style: none;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    padding: 0;
}

li {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid rgba(4, 80, 80, 0.5);
    background-color: rgba(75,192,192,0.2);
    color: rgb(19, 70, 70)
}

li:hover{
    background-color: rgba(28, 138, 138, 0.4);
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

td,
th {
    padding: 1em;
    background: rgba(55,172,192,0.15);
    border-bottom: 1px solid #fff; 
    text-align: center !important;
    color: rgb(7, 62, 71)
}

tr{
    border-radius: 20px;
}

.bordered tr:hover {
    background: rgba(28, 138, 138, 0.2);
    transition: all 0.1s ease-in-out;
}